{
  "extends": [
    "@dominicbarnes",
    "@dominicbarnes/browser",
    "@dominicbarnes/deku",
    "@dominicbarnes/mako"
  ],
  "rules": {
    "valid-jsdoc": [ 1, {
      "prefer": { "returns": "return" },
      "requireParamDescription": false,
      "requireReturn": false,
      "requireReturnDescription": false
    } ],
  }
}
